image: debian:stretch

variables:
  REPO_NAME: gitlab.com/olaris/olaris-server

before_script:
  - apt-get update
  - apt-get install -y curl g++ gcc git libc6-dev make zip unzip
  - curl -sL https://golang.org/dl/go1.16rc1.linux-amd64.tar.gz | tar -C /usr/local -xz
  - export PATH=$PATH:/usr/local/go/bin
  - make ready-ci

stages:
    - format
    - test
    - build
    - dist-linux-amd64

format:
    stage: format
    script:
      - make fmt
      - make vet

build:
    stage: build
    script:
      - make build-linux
    artifacts:
      paths:
        - build/olaris-linux-386
        - build/olaris-linux-amd64
        - build/olaris-linux-arm
        - build/olaris-linux-arm64
      expire_in: 4 week


# This stage is to have a small downloadable package for the most common platform
dist-linux-amd64:
    stage: dist-linux-amd64
    script:
      - GOOS=linux GOARCH=amd64 make dist
      - cp -r dist/olaris-linux-amd64-*.zip $CI_PROJECT_DIR/
    artifacts:
      paths:
        - olaris-linux-amd64-*.zip
      expire_in: 4 week

test:
    stage: test
    script:
      - make test
