.idea
**/.DS_Store
builds
*test.db
binaries
bin
node_modules
cmd/olaris-server/bsmds-linux
metadata/resolvers/schematxt.go
**/bindata.go
**/*fakes/*
react/build
yarn.lock
build
dist
olaris-server
vendor
.vscode
