[server]
#port = 8080
#verbose = true
#dblog = false
#directFileAccess = false
#systemFFmpeg = false

[database]
#connection = "postgres://host=localhost sslmode=disable dbname=olaris"

[debug]
#streamingPages = false
#transcoderLog = true

[metadata]
#scan_hidden = false

[rclone]
#configFile = "$HOME/.config/rclone/rclone.conf"